////// Fonts ///////
$serif: 'Noto Serif', serif;
$sans: 'Century Gothic', sans serif;

////// Colors //////
$primary: #4b5d00;
$secondary: #88aa00;
$accent: #6e00aa;
$accent2: #3d005d;
$successLight: #EDFFD5;
$successDark: #388000;
$warningLight: #ffffd4;
$warningDark: #D6AB00;
$errorLight: #ffefef;
$errorDark: #D60000;
$infoLight: #eef8ff;
$infoDark: #0069F0;

////// Media Queries ////////
$navSwitch1: 38em;
$navSwitch2: 54em;
$serviceSwitch: 54em;