main:after {
  content: "";
  display: table;
  clear: both; }

html {
  font-size: 16px;
  font-family: "Noto Serif", serif; }

body {
  min-width: 304px;
  max-width: 1330px; }
  @media (min-width: 1330px) {
    body {
      margin: 8px auto; } }

a {
  color: #8f00dd;
  text-decoration: none; }
  a:visited {
    color: #8f00dd; }
  a:hover {
    text-decoration: underline; }
  a:active {
    transition: background 0s;
    background: #ddd; }

h1, h2, h3, h4 {
  font-family: "Century Gothic", sans serif;
  margin-top: 0; }

h1 {
  margin-top: .4em;
  font-size: 1.8em;
  color: #4b5d00;
  text-align: center; }
  @media (min-width: 38em) {
    h1 {
      font-size: 2.4em; } }
  @media (min-width: 54em) {
    h1 {
      font-size: 3em;
      text-align: left; } }

h2 {
  margin-bottom: .3em;
  font-size: 1.4em;
  color: #88aa00; }

p, ul, ol {
  margin-top: 0; }

p {
  line-height: 1.6em;
  max-width: 38em; }

button, .button {
  cursor: pointer;
  font-family: "Century Gothic", sans serif;
  border-radius: 4px; }
  button i, .button i {
    margin-right: .5em; }

.primary-button {
  background: #6e00aa;
  border: 1px solid #3d005d;
  color: white;
  display: inline-block;
  padding: .6em;
  font-size: 1.2em; }
  .primary-button:hover {
    background: #8f00dd;
    text-decoration: none; }
  .primary-button:active {
    background: #3d005d; }
  .primary-button:visited {
    color: white; }

.secondary-button {
  background: #f7ecfd;
  border: 1px solid;
  color: #6e00aa;
  display: inline-block;
  padding: .4em .5em; }
  .secondary-button:hover {
    background: #fbf5fe;
    text-decoration: none; }
  .secondary-button:active {
    background: #f3e3fc; }

.alert {
  padding: .6em;
  border: 1px solid;
  border-radius: 3px;
  margin: 1em auto;
  max-width: 38em;
  font-size: .9em; }
  .alert i {
    font-size: 1.8em;
    margin-right: .2em;
    vertical-align: middle; }

.alert-heading {
  font-size: 1.6em;
  margin-bottom: .3em; }

.alert-close {
  background: transparent;
  border: 0;
  font-size: 2em;
  line-height: .5em;
  float: right; }

.success {
  background: #edffd5;
  border-color: #388000; }
  .success i, .success .alert-close, .success .alert-heading {
    color: #388000; }

.warning {
  background: #ffffd4;
  border-color: #d6ab00; }
  .warning i, .warning .alert-close, .warning .alert-heading {
    color: #d6ab00; }

.error {
  background: #ffefef;
  border-color: #d60000; }
  .error i, .error .alert-close, .error .alert-heading {
    color: #d60000; }

.info {
  background: #eef8ff;
  border-color: #0069f0; }
  .info i, .info .alert-close, .info .alert-heading {
    color: #0069f0; }

.note {
  font-size: .8em;
  color: gray;
  clear: both; }
  .note i {
    margin-right: .3em;
    color: #0070FF; }

header {
  position: relative; }
  @media (min-width: 54em) {
    header {
      border-bottom: 1px solid #88aa00; } }

.logo {
  display: inline-block;
  width: 65%;
  max-width: 300px;
  margin-bottom: .4em; }
  .logo img {
    width: 100%;
    height: auto; }

[data-toggle="main-nav"] {
  position: absolute;
  top: 6px;
  right: 8px;
  border: 1px solid #88aa00;
  border-radius: 3px;
  text-align: center;
  font-size: 1.8em;
  background: transparent;
  color: #88aa00; }
  [data-toggle="main-nav"]:hover {
    background: #eee; }
  [data-toggle="main-nav"]:active {
    background: #ccc; }
  [data-toggle="main-nav"].is-active {
    background: #88aa00;
    color: white; }
  [data-toggle="main-nav"] i {
    margin-right: 0; }
  [data-toggle="main-nav"] span {
    display: block;
    font-size: .5em;
    margin-top: -.4em; }
  @media (min-width: 38em) {
    [data-toggle="main-nav"] {
      display: none; } }

.main-nav {
  border: 1px solid #88aa00;
  border-width: 1px 0;
  max-height: 0;
  transition: all .4s;
  overflow: hidden; }
  .main-nav.is-visible {
    max-height: 11em;
    padding: 1em 0;
    border-width: 2px 0; }
  @media (min-width: 38em) {
    .main-nav {
      max-height: initial;
      text-align: center; } }
  @media (min-width: 54em) {
    .main-nav {
      font-size: 1em;
      position: absolute;
      top: 48px;
      right: 0;
      border: 0; } }

.main-nav-item {
  display: block;
  padding: .4em .8em;
  font-size: 1.2em;
  transition: background .4s;
  font-family: "Century Gothic", sans serif;
  color: #88aa00; }
  .main-nav-item:visited {
    color: #88aa00; }
  .main-nav-item:hover {
    text-decoration: none;
    background: #eee; }
  .main-nav-item:active {
    background: #ccc; }
  .main-nav-item.is-current-page {
    background: #88aa00;
    color: white;
    cursor: default; }
  .main-nav-item + .main-nav-item {
    border-top: 1px solid #ccc; }
  .main-nav-item i {
    font-size: .7em; }
  @media (min-width: 38em) {
    .main-nav-item {
      display: inline-block; }
      .main-nav-item + .main-nav-item {
        border-top: 0;
        border-left: 1px solid #ccc;
        margin-left: -.25em; }
      .main-nav-item i {
        display: none; } }
  @media (min-width: 54em) {
    .main-nav-item {
      display: inline-block; }
      .main-nav-item + .main-nav-item {
        border-top: 0;
        border-left: 1px solid #ccc;
        margin-left: -.25em; }
      .main-nav-item i {
        display: none; } }

main {
  padding: .5em; }

footer {
  border-top: 1px solid #88aa00;
  padding: .5em 0;
  text-align: center; }

[data-accordion="container"] {
  overflow: hidden;
  transition: max-height .4s; }

[data-accordion="toggle"] {
  cursor: pointer; }
  [data-accordion="toggle"]:before {
    content: "\f067";
    font-family: FontAwesome;
    font-size: .7em;
    margin-right: .4em;
    vertical-align: middle;
    position: relative;
    top: -.05em; }
    .is-open [data-accordion="toggle"]:before {
      content: "\f068"; }
  @media (min-width: 38em) {
    [data-accordion="toggle"] {
      cursor: default; } }

.contact-button {
  max-width: 20em;
  margin: 1em auto;
  display: block;
  text-align: center; }

@media (max-width: 38em) {
  .intro {
    position: relative;
    border: 1px solid #ccc;
    margin: 0 0 1em;
    max-height: 2.2em;
    padding: .5em .5em 0;
    border-radius: 4px; }
    .intro.is-open {
      padding-bottom: 4em;
      max-height: 15em; }
      .intro.is-open:hover {
        background: #fff; }
    .intro > a:hover {
      text-decoration: none; }
    .intro > i {
      position: absolute;
      right: .5em;
      top: .3em;
      font-size: 1.6em;
      color: #4b5d00; }
    .intro:hover {
      background: #eee; } }
@media (min-width: 38em) {
  .intro {
    border-bottom: 1px solid #4b5d00;
    margin: 0 auto 1em;
    max-width: 38em;
    padding: 0 0 1em; }
    .intro [data-accordion="toggle"]:before {
      display: none; } }
@media (min-width: 54em) {
  .intro {
    width: 50%;
    display: inline-block; } }

.intro-cta {
  font-size: 1em;
  position: absolute;
  bottom: .5em;
  right: .5em;
  transition: none;
  transform: translate3d(-50em, 0, 0); }
  .intro-cta:after {
    content: "\f0da";
    font-family: FontAwesome;
    text-decoration: none;
    padding-left: .2em; }
  .is-open .intro-cta {
    right: .5em;
    transform: translate3d(0, 0, 0);
    transition: transform .6s linear; }
  @media (min-width: 38em) {
    .intro-cta {
      transform: translate3d(0, 0, 0);
      position: static;
      float: right; } }

.service {
  padding: .5em .5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 auto 1em;
  box-sizing: border-box;
  position: relative;
  max-width: 38em;
  max-height: 2.8em; }
  .service.is-open {
    max-height: 22em;
    padding-bottom: 3.5em; }
  .service:last-of-type {
    min-height: 0;
    padding-bottom: 0; }
    @media (min-width: 38em) {
      .service:last-of-type {
        border-bottom: 0; } }
    .service:last-of-type .service-price-block {
      display: none; }
  @media (min-width: 38em) {
    .service {
      max-height: none;
      padding-bottom: 3.5em;
      border-color: #4b5d00;
      border-width: 0 0 1px 0;
      border-radius: 0; } }
  @media (min-width: 54em) {
    .service {
      float: left;
      width: 46%;
      min-height: 16.05em;
      margin: 0 2% 1.5em; }
      .service + .service {
        padding-top: 0; } }
  @media (min-width: 70em) {
    .service {
      width: 29%;
      min-height: 17.55em; } }

@media (min-width: 38em) {
  .service-name:before {
    display: none; } }

.service-price-block {
  position: absolute;
  bottom: .5em;
  right: 200%;
  width: 80%;
  text-align: right; }
  .is-open .service-price-block {
    right: .5em;
    transition: right 1s; }
  @media (min-width: 38em) {
    .service-price-block {
      right: .5em; } }

.service-price {
  font-weight: bold;
  color: #4b5d00;
  font-size: 3em;
  line-height: 1em; }

.service-price-unit {
  font-size: 1.5em;
  font-style: italic; }

.service-promise {
  display: none; }

[data-page="services"] .note {
  margin-right: auto;
  margin-left: auto; }

[data-page="contact"] {
  max-width: 35em;
  margin: 0 auto;
  padding-bottom: 2em; }
  [data-page="contact"] ~ .contact-button {
    display: none; }

label {
  display: block;
  margin-bottom: 2em; }

input, textarea {
  display: block;
  font-size: 1.2em;
  padding: .3em;
  font-family: "Century Gothic", sans serif; }

textarea {
  width: 96%;
  height: 15em;
  max-width: 28em; }

.contact-message {
  margin-bottom: 1em; }

.me {
  width: 40%;
  max-width: 200px;
  float: left;
  margin-right: 1em; }

[data-page="about"] {
  max-width: 38em;
  margin: 0 auto; }
